################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ERS_Projekat_Template/Tests/obj
/ERS_Projekat_Template/.vs/ERS_PROJEKAT/FileContentIndex
/ERS_Projekat_Template/Tests/bin/Debug/net8.0
/ERS_Projekat_Template/Services/obj
/ERS_Projekat_Template/.vs/ERS_PROJEKAT/DesignTimeBuild
/ERS_Projekat_Template/Backup/.vs/ERS_PROJEKAT/v18
/ERS_Projekat_Template/Database/obj
/ERS_Projekat_Template/Domain/obj
